.tool-bar-btn {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  transition: transform 0.2s; /* Animation */
  cursor: pointer;
}

.toolbar {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  transform: display 3s;
}

.tool-bar-btn:hover {
  transform: scale(1.2);
  text-shadow: 0 0 32px black;
}
